{% extends "base.html" %}
{% block content %}
{% for article in page_obj %}
<h1><a href='/articles/{{article.id}}/'>{{article.id}}. {{ article.title | upper }}</a><br><h1>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <button onclick="window.location.href='?page=1';">&laquo;&laquo;</button>
            <button onclick="window.location.href='?page={{ page_obj.previous_page_number}}';">Prev</button>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <button onclick="window.location.href='?page={{ page_obj.next_page_number }}';">Next</button>
            <button onclick="window.location.href='?page={{ page_obj.paginator.num_pages }}';">&raquo;&raquo;</button>
        {% endif %}
    </span>
</div>
{% endblock content %}
