<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <button style='margin-top:10px;' type='submit'><a href='/'>Home</a></button>
        <button style='margin-top:10px;' type='submit'><a href='/articles/create/'>Create</a></button>
        <button style='margin-top:10px;' type='submit'><a href='/admin/'>Admin</a></button>
        <h1>Search Articles</h1>
        <form action='/articles/' method='GET'>
            <input type='text' name='q' />
            <button type ='submit'>Search</button>
        </form>

        {% block content %}
        <h3>/----0----\</h3>
        {% endblock content %}
    </body>
</html>
