<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <button onclick="window.location.href='/';">Home</button>
        <button onclick="window.location.href='/articles/create/';">Create</button>
        <button onclick="window.location.href='/articles/list/';">List</button>
        <h1>Search Articles</h1>
        <form action='/articles/' method='GET'>
            <input type='text' name='q' />
            <button type ='submit'>Search</button>
        </form>

        {% block content %}
        <h3>/----0----\</h3>
        {% endblock content %}
    </body>
</html>